@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

header {
  height: 20vh;
  background-color: #FF69B4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 60px;
}
@media (max-width: 700px) {
  header header {
    flex-direction: column;
    height: 30vh;
  }
}
header main {
  font-size: 200px;
}

.Boxlogo {
  width: 25vw;
  display: flex;
  align-items: center;
  color: white;
}
@media (max-width: 700px) {
  .Boxlogo {
    flex-direction: column;
  }
}
.Boxlogo img {
  width: 6.5vw;
}
@media (max-width: 1000px) {
  .Boxlogo img {
    width: 7vw;
  }
}
.Boxlogo h1 {
  color: white;
  font-size: 1.5vw;
}
@media (max-width: 1000px) {
  .Boxlogo h1 {
    font-size: 2vw;
  }
}

nav {
  width: 40VW;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
}
@media (max-width: 1000px) {
  nav ul {
    font-size: 2vw;
  }
}
nav ul a {
  color: white;
}

.sessaoSobre {
  height: 60vh;
  background-color: #FFD9EC;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .sessaoSobre {
    flex-direction: column-reverse;
    height: 70vh;
  }
}
.sessaoSobre p {
  width: 30vw;
  font-size: 1.5vw;
}
@media (max-width: 800px) {
  .sessaoSobre p {
    font-size: 2vw;
    width: 30vw;
  }
}
.sessaoSobre img {
  width: 25vw;
}
@media (max-width: 800px) {
  .sessaoSobre img {
    width: 30vw;
  }
}
@media (max-width: 600px) {
  .sessaoSobre img {
    width: 34vw;
  }
}
@media (max-width: 400px) {
  .sessaoSobre img {
    width: 46vw;
  }
}

.sessaoconscientizacao {
  height: 60vh;
  background-color: #FF69B4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sessaoconscientizacao div {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .sessaoconscientizacao {
    flex-direction: column-reverse;
    height: 70vh;
  }
}
.sessaoconscientizacao p {
  width: 30vw;
  font-size: 1vw;
  color: #E4EEF1;
  align-items: center;
}

.sessaoorientacao {
  height: 60vh;
  background-color: #FFD9EC;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .sessaoorientacao {
    flex-direction: column-reverse;
    height: 10vh;
  }
}
.sessaoorientacao p {
  width: 30vw;
  font-size: 1vw;
}

.sessaofinal {
  height: 60vh;
  background-color: #FF69B4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 400px) {
  .sessaofinal {
    flex-direction: column-reverse;
    height: 70vh;
  }
}
.sessaofinal div {
  justify-content: space-evenly;
}
.sessaofinal div img {
  width: 6.5vw;
  justify-content: flex-start;
}
.sessaofinal ul {
  width: 60vh;
  font-size: 1vw;
  color: #E4EEF1;
  text-align: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */